<div class="nav-div">
    <div class="topnav">
        
<!-- This html is for the nav bar that is to be inherited into all other html files, this is done to reduce repeating code -->

        <a href="{% url 'home' %}" class="nav-title nav-link">Resume Builder</a>

        <div class="nav-link-div">
            <a {% if request.resolver_match.url_name == 'home' %}class="active nav-link"{% else %}class="nav-link"{% endif %} href="{% url 'home' %}">HOME</a>

            {% if request.user.is_authenticated %}
                <a {% if request.resolver_match.url_name == 'dashboard' %}class="active nav-link"{% else %}class="nav-link"{% endif %} href="{% url 'dashboard' %}">DASHBOARD</a>
                <a {% if request.resolver_match.url_name == 'preview' %}class="active nav-link"{% else %}class="nav-link"{% endif %} href="{% url 'preview' %}">PREVIEW</a>
                <a {% if request.resolver_match.url_name == 'logout' %}class="active nav-link"{% else %}class="nav-link"{% endif %} href="{% url 'logout' %}">LOGOUT</a>
            {% else %}
                <a {% if request.resolver_match.url_name == 'login' %}class="active nav-link"{% else %}class="nav-link"{% endif %} href="{% url 'login' %}">LOGIN</a>
                <a {% if request.resolver_match.url_name == 'signup' %}class="active nav-link"{% else %}class="nav-link"{% endif %} href="{% url 'signup' %}">SIGN UP</a>
            {% endif %}
        </div>

    </div>
</div>